<footer class="site-footer container-fluid">

  <div class="row">

    <div class="col-xs-12 centered">
      <h2 class="footer-heading">{{ site.title }}</h2>
      <a href="#" style="display: block; margin: 1em 0;">source code</a>
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>

  </div>

</footer>
